@import url(https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Red Hat Display", sans-serif;
  background: var(--Pale-blue) url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

#container {
  box-shadow: -2px 0px 34px -9px rgba(0, 0, 0, 0.75);
  margin-top: 50px;
  height: 700px;
  border-radius: 20px;
  width: 420px;
  background: white;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#image {
  height: 100%;
}

#container p {
  max-width: 300px;
}

h3 {
  font-size: 14px;
}

#image img {
  width: 100%;
  height: auto;
}

#push {
  margin-right: 50px;
}
#plan {
  display: flex;
  box-sizing: inherit;
  background: var(--Very-pale-blue);
  width: 80%;
  border-radius: 10px;
  margin-left: 10px;
  padding: 0px 10px;
}

#plan img {
  margin-right: 20px;
  margin-top: 13px;
}

#plan a {
  margin-top: 50px;
}

button {
  padding: 14px 95px;
  margin: 30px 1px;
  background: var(--Bright-blue);
  border-radius: 9px;
  color: white;
  border: none;
  transition: 600ms;
}

button:hover {
  transform: scale(1.1);
}

.bright-blue {
  color: var(--Dark-blue);
}

p {
  color: var(--Desaturated-blue);
}

#bottom-a {
  text-decoration: none;
  color: var(--Desaturated-blue);
  font-weight: 600;
  display: block;
}

h2 {
  font-size: 14px;
}

@media screen and (max-width: 375px) {
  body {
    background: var(--Pale-blue) url("images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
  }

  #plan {
    width: 90%;
  }

  #container {
    width: 330px;
  }

  button {
    width: 90%;
    padding: 15px 0px;
  }
}
